# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# minecraft / fabric runtime

.cache/
.fabric/
logs/
crash-reports/
mods/
*.jar
*.class
usercache.json
usernamecache.json
banned-ips.json
banned-players.json

# agents
.agents/
